{% extends 'base.html.twig' %}

{% block title %}My first page in this project!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Symfony for the web</h1>
    </div>
{% endblock %}
